<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tracker" class="src.FacilityPackage.FacilityTracker">
        <constructor-arg  index="0" ref="scheduleMan"/>
        <constructor-arg index="2" ref="maintMan"/>
        <constructor-arg index="1" ref="useMan"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="maintMan" class="src.ManagerPackage.MaintenanceManager">
        <constructor-arg index="0" ref="scheduleMan"/>
        <constructor-arg index="1" ref="tracker"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="scheduleMan" class="src.ManagerPackage.ScheduleManager">
        <constructor-arg index="0" ref= "useMan"/>
        <constructor-arg index="1" ref="maintMan"/>
        <constructor-arg index="2" ref="tracker"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="useMan" class="src.ManagerPackage.ScheduleManager">
        <constructor-arg index="0" ref="tracker"/>
        <constructor-arg index="1" ref="scheduleMan"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions go here -->

</beans>